*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    border: solid 1px black;
}

/***************************************************
palette
***************************************************/
:root {
	--color-primary: #1abc9c;
	--color-secondary: #3A546D;
	--color-bg-footer: #2c3e50;
}

/***************************************************
variables
***************************************************/
:root {
	--nav-height: 90px;
}


/***************************************************
utility
***************************************************/


/***************************************************
general
***************************************************/
.container-sm
{
    height: 200px;
}


/***************************************************
header
***************************************************/
header
{
    background-color: var(--color-secondary);
    height: var(--nav-height);
}


/***************************************************
main
***************************************************/
main section:nth-child(odd)
{
    background-color: var(--color-primary);
}


/***************************************************
footer
***************************************************/
footer section:first-child
{
    background-color: var(--color-secondary);
}

footer section:last-child
{
    background-color: var(--color-bg-footer);
}