*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    border: solid 1px black;
}

/***************************************************
palette
***************************************************/
:root {
	--color-primary: #1abc9c;
	--color-secondary: #2c3e50;
	--color-secondary-text: #333333;
	--color-bg-footer: #3A546D;
}

/***************************************************
variables
***************************************************/
:root {
	--nav-height: 90px;
}


/***************************************************
utility
***************************************************/
.color_text_secondary
{
    color: var(--color-secondary-text);
}

.color_text_primary
{
    color: var(--color-primary);
}

.width-100
{
    width: 100%;
}

/***************************************************
general
***************************************************/
.container-sm
{
    min-height: 200px;
}


/***************************************************
header
***************************************************/
header
{
    background-color: var(--color-secondary);
    height: var(--nav-height);
}


/***************************************************
main
***************************************************/
main section:nth-child(odd)
{
    background-color: var(--color-primary);
}

main section:nth-child(even)
{
    color: var(--color-secondary);
}

#avatar
{
    width: 250px;
}


/***************************************************
footer
***************************************************/
footer section:first-child
{
    background-color: var(--color-bg-footer);
}

footer section:last-child
{
    background-color: var(--color-secondary);
}